/* font-family: 'Open Sans', sans-serif;
font-family: 'Abril Fatface', serif; */

/* #232B2B */
body, html {
  margin: 0; 
  padding: 0; 
  height: 100%;
  color:white;
  
}

body {
  background: url("./images/bubble-small.jpg") no-repeat bottom center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1{
  text-align:center;
  font-family: 'Abril Fatface', serif;
  font-size: 1.75rem;
  line-height: 1.4;
}
 h2{
   position: relative;
   text-transform: uppercase;
   border-bottom: 2px solid white;
   width: max-content;
   padding: 0.5rem;
   margin: 0 0 2rem 0;
   font-family: 'Abril Fatface', serif;
 }

.blurred{  
  padding: 1em;
}

.main-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
	z-index: 999;
	height: 100%;
	text-align: center;
  background: #202020d3;
  border-radius: 4px;
}

.inner {
  font-family: 'Alfa Slab One';
  color:white;
  font-size:12px;
  padding: 1.5rem 0;
}

.line{
  width: 0px;
  height: 1.5em;
  margin: auto;
  border: 1.5px solid #545454;
}

.logo-container{
  background: url("./images/3-dot.png") no-repeat center;
  background-size: 2.5em;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 4.75rem;
  border: 2px solid #545454;
  border-radius: 100%;
  margin: auto;
}


.bottom-nav{
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.content{
    border-top:2px solid #545454;
    border-bottom:2px solid #545454;
    max-width: 90%;
    margin: auto;
}

.about-image {
  width: 100%;
}

#wrapper{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  /* height: 100%; */
}

#header{
 padding: 1.5rem 0;
 text-align: center;
 margin-top: 2em;
}

#about{
 padding: 3rem 1.5rem 0.5rem 1.5rem;
 display: block;
 /* overflow-y: scroll; */
}

#portfolio{

}

#contact{

}

.inner p{
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  line-height: 1.875;

}

.bottom-nav a{
  text-decoration: none;
  color: white;
  padding: 0 1.25rem 0 1.45rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  border-bottom: 0;
  height: 3rem;
  line-height: 3rem;
  min-width: 0;
  width: 100%
  
}

.bottom-nav li{
  border:2px solid #545454;
  border-radius: 4px;
  margin: auto; 
  padding: 0;
  
}

/* #about modal{
  position:fixed;
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  text-align:center;
  background-color:#b91010;
  opacity: 0.5;
} */

